.formsControl{

}


.error input,
.error textarea{
    border: 2px red solid;
}

.errorMessage{
    color: red
}

.commonErrorMessage{
    color: red;
    border: 2px red solid;
    padding: 5px;
    float: left;
}